@import '../oxocarbon.css';

/* General configuration */
* {
  border: none;
  font-family: "JetBrains Mono", "tabler-icons";
  font-size: 12px;
}

button {
  min-height: 18px;
  min-width: 18px;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.0;
}

/* Tooltips */
tooltip {
  background: rgba(22, 22, 22, 0.9);
  border: 1px solid rgba(22, 22, 22, 0.9);
  border-radius: 16px;
}
tooltip label {
  color: @fg;
}

.modules-left {
  border: 2px solid @bg2;
  box-shadow: 6px 6px 0 @bg;
  margin: 4px 4px 0px 2px;
}

.modules-center {
  border: 2px solid @bg2;
  box-shadow: 6px 6px 0 @bg;
  margin: 4px 4px 0px 2px;
}

.modules-right {
  border: 2px solid @bg2;
  box-shadow: 6px 6px 0 @bg;
  margin: 0px 4px 10px 2px;
}

/* Workspaces */
#workspaces {
  background: @bg;
}

#workspaces button {
  color: @bg3;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @purple;
  background-size: 300% 300%;
  min-height: 30px;
}

#workspaces button.active {
  color: @purple;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  background: @red;
}

#workspaces button.persistent {
  background: @purple;
  transition: all 0.3s ease-in-out;
}

window#waybar.empty #window {
	background-color: transparent;
}

/** ********* Taskbar ********** **/
#taskbar {
  background: @bg3;
  border-radius: 12px;
  opacity: 0.8;
}
#taskbar button {
  margin: 0;
}
taskbar#waybar.empty #taskbar {
  background-color: transparent;
}

/** ************ Window ************* **/
#window {
  color: @aqua;
  font-weight: bold;
}

/** ********** Pulseaudio ********** **/
#pulseaudio.1 {
  background: @bg;
  color: @fg;
  font-size: 16px;
  opacity: 0.8;
  padding: 4px 0px 0px 0px;
}
#pulseaudio.2 {
  background: @bg;
  color: @fg;
  font-size: 10px;
  opacity: 0.8;
  padding: 0px 0px 4px 0px;
}

/** ********** Backlight ********** **/
#backlight.1 {
  background: @bg;
  color: @fg;
  font-size: 16px;
  opacity: 0.8;
  padding: 4px 0px 0px 0px;
}
#backlight.2 {
  background: @bg;
  color: @fg;
  font-size: 10px;
  opacity: 0.8;
  padding: 0px 0px 4px 0px;
}

/** ********** Battery ********** **/
#battery.1 {
  background: @bg;
  font-size: 16px;
  color: @fg;
  opacity: 0.8;
  padding: 4px 0px 0px 0px;
}
#battery.2 {
  background: @bg;
  font-size: 10px;
  color: @fg;
  opacity: 0.8;
  padding: 0px 0px 4px 0px;
}
#battery.1.charging {
  color: @red;
}
#battery.2.charging {
  color: @red;
}

#battery.1.plugged {
  color: @green;
}
#battery.2.plugged {
  color: @green;
}

@keyframes blink {
  to {
    color: @orange;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @red;
  opacity: 1.0;
}

/** ********** Clock ********** **/
#clock.1 {
  background: @bg;
  color: @blue;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.8;
  padding: 4px 0px 0px 0px;
}
#clock.2 {
  background: @bg;
  color: @green;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.8;
  padding: 0px 0px 4px 0px;
}


/** ********** ray ********** **/
#tray {
  background: @bg;
  opacity: 0.8;
  padding: 4px 0px 4px 0px;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#language {
  background: @bg;
  color: @aqua;
  font-weight: bold;
  font-size: 18px;
  opacity: 0.8;
  padding: 4px 0px 4px 0px;
}

#idle_inhibitor {
  background: @bg;
  color: @bg2;
  font-size: 16px;
  opacity: 0.8;
  padding: 4px 0px 8px 0px;
}
#idle_inhibitor.activated {
  background-size: 300% 300%;
  color: @red;
}

/* ********** Image ************ */
#image {
  background: @bg;
  opacity: 1.0;
}

/** ********** Custom ********** **/
#custom-wall {
  background: @bg;
  color: @blue;
  font-size: 16px;
  opacity: 0.8;
  padding: 8px 0px 4px 0px;
}

/* Swaync */
#custom-swaync {
  background: @bg;
  color: @fg;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  padding: 4px 0px 4px 0px;
}

@keyframes gradient_f {
	0% {
		background-position: 0% 200%;
	}
    50% {
        background-position: 200% 0%;
    }
	100% {
		background-position: 400% 200%;
	}
}

/* Theme switcher */
#custom-themeswitcher {
  background: @bg;
  color: @aqua1;
  font-size: 16px;
  opacity: 0.8;
  padding: 4px 0px 4px 0px;
}
