@import '../catpuccin-mocha.css';

/* General configuration */
* {
  border: none;
  font-family: "JetBrains Mono", "tabler-icons";
  font-size: 12px;
}

button {
  min-height: 18px;
  min-width: 18px;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.0;
}

/* Tooltips */
tooltip {
  background: rgba(30, 30, 30, 0.9);
  border: 1px solid rgba(30, 30, 30, 0.9);
  border-radius: 16px;
  padding: 20px;
}
tooltip label {
  color: @lavender;
}

/* Workspaces */
#workspaces {
  background: transparent;
}

#workspaces button {
  background: @surface1;
  border-radius: 10px;
  margin: 0px 10px 3px 10px;
  min-width: 12px;
  padding: 5px 0px 5px 0px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background: @green;
  background-size: 300% 300%;
  border-radius: 10px;
  min-height: 30px;
}

#workspaces button.active {
  background: @green;
  background-size: 300% 300%;
  border-radius: 10px;
  min-height: 30px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  background: @red;
}

#workspaces button.persistent {
  background: @green;
  transition: all 0.3s ease-in-out;
}

window#waybar.empty #window {
	background-color: transparent;
}

/** ********* Taskbar ********** **/
#taskbar {
  background: @surface1;
  border-radius: 12px;
  margin: 5px 0 0 5px;
  opacity: 0.8;
}
#taskbar button {
  margin: 0;
}
taskbar#waybar.empty #taskbar {
  background-color: transparent;
  margin: 5px 0 5px 0;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/** ************ Window ************* **/
#window {
  color: @lavender;
  font-weight: bold;
  margin: 5px 0 0 7px;
  padding: 2px;
}

/** ********** Pulseaudio ********** **/
#pulseaudio.1 {
  background: linear-gradient(180deg, @pink, @mauve);
  border-radius: 10px 10px 0 0;
  color: @base;
  font-size: 16px;
  margin: 5px 0 0 5px;
  opacity: 0.8;
  padding: 2px;
}
#pulseaudio.2 {
  background: linear-gradient(180deg, @mauve, @pink);
  border-radius: 0 0 10px 10px;
  color: @base;
  font-size: 10px;
  margin: 0 0 5px 5px;
  opacity: 0.8;
  padding: 2px;
}

/** ********** Backlight ********** **/
#backlight.1 {
  background: linear-gradient(180deg, @pink, @mauve);
  border-radius: 10px 10px 0 0;
  color: @base;
  font-size: 16px;
  margin: 5px 0 0 5px;
  opacity: 0.8;
  padding: 2px;
}
#backlight.2 {
  background: linear-gradient(180deg, @muave, @pink);
  border-radius: 0 0 10px 10px;
  color: @base;
  font-size: 10px;
  margin: 0 0 5px 5px;
  opacity: 0.8;
  padding: 2px;
}

/** ********** Battery ********** **/
#battery.1 {
  background: linear-gradient(180deg, @pink, @mauve);
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  color: @base;
  margin: 5px 0 0 5px;
  opacity: 0.8;
  padding: 2px;
}
#battery.2 {
  background: linear-gradient(180deg, @mauve, @pink);
  border-radius: 0 0 10px 10px;
  font-size: 10px;
  color: @base;
  margin: 0 0 5px 5px;
  opacity: 0.8;
  padding: 2px;
}

#battery.1.charging {
  background: linear-gradient(180deg, @maroon, @red);
  color: @base;
}
#battery.2.charging {
  background: linear-gradient(180deg, @red, @maroon);
  color: @base;
}

#battery.1.plugged {
  background: linear-gradient(180deg, @teal, @green);
  color: @base;
}
#battery.2.plugged {
  background: linear-gradient(180deg, @green, @teal);
  color: @base;
}

@keyframes blink {
  to {
    background: linear-gradient(180deg, @yellow, @peach);
    color: @base;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @base;
  opacity: 1.0;
}

/** ********** Clock ********** **/
#clock.1 {
  color: @pink;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0 0 5px;
  opacity: 0.8;
}
#clock.2 {
  color: @mauve;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 5px 5px;
  opacity: 0.8;
}

/** ********** Tray ********** **/
#tray {
  background: @surface1;
  border-radius: 10px;
  margin: 5px 0 5px 5px;
  opacity: 0.8;
  padding: 5px 0 5px 0;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#language {
  color: @text;
  font-weight: bold;
  font-size: 18px;
  margin: 5px 0 5px 5px;
  opacity: 0.8;
}

#idle_inhibitor {
  background: @surface0;
  border-radius: 10px;
  color: @surface2;
  font-size: 16px;
  margin: 5px 0 5px 5px;
  opacity: 0.8;
  padding: 5px 2px 5px 2px;
}
#idle_inhibitor.activated {
  animation: gradient_f 20s ease-in-out infinite;
  /* background: rgb(203,166,247); */
  /* background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); */
  background-size: 300% 300%;
  background: linear-gradient(180deg, @mauve, @pink);
  border-radius: 10px;
  color: @base;
  margin: 5px 0 5px 5px;
  opacity: 0.8;
  padding: 5px 2px 5px 2px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/* ********** Image ************ */
#image {
  /* animation: gradient_f 20s ease-in-out infinite; */
  /* background: rgb(203,166,247); */
  /* background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); */
  background-size: 300% 300%;
  border-radius: 10px;
  margin: 0 0 5px 2px;
  opacity: 0.8;
  padding: 5px 2px 5px 2px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/** ********** Custom ********** **/
#custom-weather.1 {
  background: @base;
  border-radius: 16px 16px 0 0;
  font-weight: bold;
  margin: 5px 0 0 0;
  opacity: 0.8;
}
#custom-weather.2 {
  background: @base;
  border-radius: 0 0 16px 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
  opacity: 0.8;
}

#custom-weathe#custom-weather.default {
  color: @green;
}
#custom-weather.severe {
  color: @red;
}
#custom-weather.sunnyDay {
  color: @yellow;
}
#custom-weather.clearNight {
  color: @overlay1;
}
#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
  color: @subtext0;
}
#custom-weather.rainyDay, #custom-weather.rainyNight {
  color: @flamingo;
}
#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
  color: @sapphire;
}

#custom-wall {
  color: @blue;
  font-size: 16px;
  margin: 5px 0px 5px 2px;
  opacity: 0.8;
}

/* Swaync */
#custom-swaync {
  /* animation: gradient_f 20s ease-in-out infinite; */
  /* background: rgb(203,166,247); */
  /* background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); */
  background-size: 300% 300%;
  background: linear-gradient(180deg, @pink, @mauve);
  border-radius: 10px;
  color: @base;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 5px 5px;;
  opacity: 0.8;
  padding: 5px 2px 5px 2px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

@keyframes gradient_f {
	0% {
		background-position: 0% 200%;
	}
    50% {
        background-position: 200% 0%;
    }
	100% {
		background-position: 400% 200%;
	}
}

/* Theme switcher */
#custom-themeswitcher {
  color: @rosewater;
  font-size: 16px;
  margin: 5px 0px 5px 2px;
  opacity: 0.8;
}
