/* Dummy style.css */

/* General configuration */
* {
  border: none;
  font-family: "Inter Display", "tabler-icons";
  font-size: 13px;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.0;
}

/* Tooltips */
tooltip {
  background: rgba(30, 30, 46, 0.9);
  border: 1px solid rgba(30, 30, 46, 0.9);
  border-radius: 16px;
  padding: 20px;
}
tooltip label {
  color: #b4befe;
}

/* Workspaces */
#workspaces {
  background: transparent;
  border-radius: 16px;
  margin: 1px 0px 0px 4px;
}

#workspaces button {
  background: #313244;
  border-radius: 10px;
  margin: 1px 1px;
  min-height: 1px;
  opacity: 0.6;
  padding: 0 4px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background: #a6e3a1;
  background-size: 400% 400%;
  border-radius: 10px;
  min-width: 30px;
}

#workspaces button.active {
  background: #a6e3a1;
  background-size: 400% 400%;
  border-radius: 10px;
  min-width: 40px;
  opacity: 1.0;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  background: #f38ba8;
}

#workspaces button.persistent {
  background: #a6e3a1;
  transition: all 0.3s ease-in-out;
}

window#waybar.empty #window {
	background-color: transparent;
}

/** ********* Taskbar ********** **/
#taskbar {
  background: #45475a;
  /* border: 3px solid #3c3836; */
  border-radius: 16px;
  /* margin: 5px 6px 3px 0; */
  opacity: 0.8;
  /* padding: 2px 10px 0 10px; */
}
#taskbar button {
  /* margin: 0; */
  padding: 0 5px;
}
taskbar#waybar.empty #taskbar {
  background-color: transparent;
  /* margin: 5px 10px 3px 0; */
  padding: 2px 10px 0 10px;
}


.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/** ********** Window ********** **/
#window{
  color: #b4befe;
  font-weight: bold;
  margin: 1px 0px 0px 4px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}
window#waybar.empty #window {
  background-color: transparent;
  opacity: 0.0;
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
  background: linear-gradient(45deg, #f5c2e7, #cba6f7);
  border-radius: 16px;
  color: #1e1e2e;
  margin: 1px 0px 0px 4px;
  padding: 0px 5px 0 5px;
  opacity: 0.8;
}

/* Wireplumber */
#wireplumber {
  background: linear-gradient(45deg,#cba6f7, #f5c2e7);
  border-radius: 16px;
  color: #1e1e2e;
  margin: 1px 0px 0px 4px;
  padding: 0px 5px 0px 5px;
  opacity: 0.8;
}

/** ********** Backlight ********** **/
#backlight {
  background: linear-gradient(45deg, #cba6f7, #f5c2e7);
  border-radius: 16px;
  color: #1e1e2e;
  margin: 1px 0px 0px 4px;
  padding: 0px 5px 0 5px;
  opacity: 0.8;
}

/** ********** Battery ********** **/
#battery {
  background: linear-gradient(45deg, #f5c2e7, #cba6f7);
  border-radius: 16px;
  color: #1e1e2e;
  margin: 1px 0px 0px 4px;
  padding: 0px 5px 0 5px;
  opacity: 0.8;
}

#battery.charging {
  background: linear-gradient(45deg, #eba0ac, #f38ba8);
}

#battery.plugged {
  background: linear-gradient(45deg, #94e2d5, #a6e3a1);
}

@keyframes blink {
  to {
    background: linear-gradient(45deg, #f9e2af, #fab387);
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #1e1e2e;
  opacity: 1.0;
}

/** ********** Clock ********** **/
#clock {
  background: linear-gradient(45deg,#cba6f7, #f5c2e7);
  border-radius: 16px;
  color: #1e1e2e;
  font-weight: bold;
  margin: 1px 0px 0px 4px;
  opacity: 0.8;
  padding: 0px 5px 0 5px;
}

/** ********** Tray ********** **/
#tray {
  background: #45475a;
  border-radius: 16px;
  margin: 1px 0px 0px 4px;
  opacity: 0.8;
  padding: 0px 5px 0 5px;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #f38ba8;
}

#language {
  color: #cdd6f4;
  /* font-weight: bold; */
  margin: 1px 0px 0px 4px;
  padding: 0px 5px 0 5px;
  opacity: 0.8;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}

#idle_inhibitor {
  background: #313244;
  border-radius: 16px;
  color: #585b70;
  margin: 1px 0px 0px 0px;
  opacity: 0.8;
  padding: 0px 5px 0 5px;
}
#idle_inhibitor.activated {
  animation: gradient_f 20s ease-in-out infinite;
  /* background: rgb(203,166,247); */
  /* background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); */
  background-size: 400% 400%;
  background: linear-gradient(45deg, #cba6f7, #f5c2e7);
  border-radius: 16px;
  color: #1e1e2e;
  font-weight: bold;
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


/** ********** Image ********** **/
#image {
  border-radius: 16px;
  margin: 1px 0px 0px 4px;
  padding: 0px 5px 0px 5px;
}

/** ********** power-profiles-daemon ********** **/
#power-profiles-daemon {
  color: #a6e3a1;
  margin: 0 5px 0 7px;
}

/* Temperature */
#temperature {
  background: linear-gradient(45deg,#cba6f7, #f5c2e7);
  border-radius: 16px;
  color: #1e1e2e;
  margin: 1px 0px 0px 4px;
  padding: 0px 5px 0px 5px;
  opacity: 0.8;
}
#temperature.warning {
  color: #fab387;
}
#temperature.critiacl {
  color: #f38ba8;
}

/* CPU */
#cpu {
  background: linear-gradient(45deg,#cba6f7, #f5c2e7);
  border-radius: 16px;
  color: #1e1e2e;
  margin: 1px 0px 0px 4px;
  padding: 0px 5px 0px 5px;
  opacity: 0.8;
}

/* Memory */
#memory {
  background: linear-gradient(45deg,#cba6f7, #f5c2e7);
  border-radius: 16px;
  color: #1e1e2e;
  margin: 1px 0px 0px 4px;
  padding: 0px 5px 0px 5px;
  opacity: 0.8;
}

/* Disk */
#disk {
  color: #89dceb;
  margin: 0 5px 0 7px;
}

/** ********** Custom ********** **/

#custom-weather {
  background: linear-gradient(45deg,#cba6f7, #f5c2e7);
  border-radius: 16px;
  font-weight: bold;
  margin: 1px 0px 0px 4px;
  opacity: 0.8;
  padding: 0px 5px 0 5px;
}
#custom-weather#custom-weather.default {
  color: #1e1e2e;
}
#custom-weather.severe {
  color: #f38ba8;
}
#custom-weather.sunnyDay {
  color: #f9e2af;
}
#custom-weather.clearNight {
  color: #cdd6f4;
}
#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
  color: #9399b2;
}
#custom-weather.rainyDay, #custom-weather.rainyNight {
  color: #bac2de;
}
#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
  color: #89dceb;
}

#custom-wall {
  color: #89b4fa;
  margin: 1px 0px 0px 0px;
  opacity: 0.8;
  padding: 0px 5px 0 5px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}

/* Swaync */
#custom-swaync {
  animation: gradient_f 20s ease-in-out infinite;
  /* background: rgb(177,98,247); */
  /* background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); */
  background-size: 400% 400%;
  background: linear-gradient(45deg, #f5c2e7, #cba6f7);
  border-radius: 16px;
  color: #1e1e2e;
  font-weight: bold;
  margin: 1px 4px 0px 4px;
  opacity: 0.8;
  padding: 0px 5px 0 5px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

@keyframes gradient_f {
	0% {
		background-position: 0% 200%;
	}
    50% {
        background-position: 200% 0%;
    }
	100% {
		background-position: 400% 200%;
	}
}

/* Theme switcher */
#custom-themeswitcher {
  color: #f5e0dc;
  margin: 1px 0px 0px 4px;
  opacity: 0.8;
  padding: 0px 5px 0 5px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}
